.pets_container {
  margin-top: 1em;
  height: 65vh;
  overflow: auto;
}

.pets_container_scroller {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

main>h3 {
  color: var(--primary);
}

@media only screen and (min-width: 992px) {
  .pets_container {
    height: 75vh;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .pets_container {
    height: 85vh;
  }
}