header {
  display: flex;
  align-items: center;
}

.header_navbar {
  margin-left: auto;
}

@media only screen and (min-width:992px) {
  .header_navbar {
    display: flex;
    align-items: center;
    gap: 2em;
  }
}