.avatar {
  border-radius: 50%;
}

.small {
  width: 3em;
  height: 3em;
}

.big {
  width: 5em;
  height: 5em;
}

@media only screen and (min-width: 600px) {
  .big {
    width: 8em;
    height: 8em;
  }

  .hide {
    display: none;
  }
}
